body {
    background: rgb(135, 153, 135);
  } 

.largetext {
    color: rgb(255, 255, 255);
    font-family: "Garamond";
    text-align: center;
    font-size: 50 px
}

p {
    text-align: center;
    font-family: "Garamond";
    color: white;
    padding: 10px;
    font-size: 40px
}

img {
    display: block;
    margin-top: 20px;
    margin-bottom:20px;
   margin-left: auto;
   margin-right:auto;
   width:auto;
   border: 3px solid rgb(29, 41, 31);
}

.panel0, .panel, .panel2, .panel3 {
    display:none
}